/* small device responsive css media query */
@media  screen and (max-width: 576px) {
    
    nav,header,.about-me .my-data,.skills,.edu-exp, footer{
        flex-direction: column;
    }
    
    nav{
        padding: 20px 50px;
    }
    .btn{
        padding: 10px 18px;
    }
    .header {
        background-image: none;
    }
    .banner{
        flex-direction: column-reverse;
        padding: 20px;
    }
    .banner img {
        width: 400px;
        height: 450px;
    }
    .main-section {
        padding: 0;
    }
    .about-me{
        padding: 20px;
    }
    .about-me .my-data{
        flex-direction: column-reverse;
        gap: 10px;
    }
    .skills{
        text-align: center;
    }
    .My-resume .resume-title {
        padding: 10px 0;
    }
    .edu-exp {
        gap: 10px;
    }
    hr{
        margin: 25px 0;
    }
    footer{
        padding: 20px;
    }

    
}